        <br><br><br><br>
        <form #form='ngForm' class='mb-4' autocomplete="off" (submit) = "onSubmit(form)">
          <img src="/assets/img/login-3.png" style="margin-left:42%; margin-top:-25%;" width="100px" height="100px" alt="login">
          <br>
          <h2 style="text-align: center; margin-top:-5%; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; ">Login</h2>
          <br>
          <div class="form-group">
            <label style="color:rgba(0, 0, 0, 0.651);margin-left:15%;">Username</label>
            <input class = "form-control"#UserName='ngModel' name="Username" [(ngModel)] = "formModel.UserName"
            style="width: 70%; margin-left:15%;" placeholder="Username" required>
          </div>
          <div class="form-group">
              <label style="color:rgba(0, 0, 0, 0.651);margin-left:15%;">Password</label>
              <input type="password" class = "form-control" #Password='ngModel' name="Password" [(ngModel)] = "formModel.Password"
              style="width: 70%;margin-left:15%;"placeholder="Password" required>
          </div>
          <div class="form-row">
              <div class="form-group col-md-8 offset-md-2">
                  <button type ="submit" class="btn btn-lg btn-block" id="login" [disabled] = "form.invalid">Login</button>
              </div>
          </div>
        </form>
        <div class="footer">
          <br>
            <a class="register" href="user/registration">Create a new account</a>
          <br>
            <a class="forgot" href="#">Forgot Password? Click here</a>
        </div>